/* You can add global styles to this file, and also import other style files */
:root
{
  --mainColor:rgb(25, 38, 110);
}
body
{
  height: 100vh;
}
li
{
  list-style: none;
}
a
{
  text-decoration: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bk-color
{
  background: var(--mainColor);
  color: #fff;
}
