.login
{
  background: url(../../../../assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  max-height: 1000px;
  color: #fff;
.all-center
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  .login-area
  {
    h1
    {
      text-transform: capitalize;
      color: #fff;
      font-size: 34px;
      font-weight: bold;
       text-align: center;
       user-select: none;
       padding: 10px 0;
    }
    .login-form
    {
    width: 360px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    .form-field
    {
     margin: 40px 0;
     input
     {
      position: relative;
      min-width: 100%;
      padding: 10px 14px;
      outline: none;
      border: none;
     }
     .forgot-pass
     {
      color: #fff;
     }
     button
     {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    background: rgb(22,28,54);
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    &:hover
    {
      color: #fff;
      background: rgb(36, 44, 83);

    }
}
    }
    }
  }
}
}
