<section class="login">
  <div class="container">
   <div class="all-center">
      <div class="login-area">
        <form class="login-form" [formGroup]="loginForm ">
          <h1>Login</h1>
          <!-- email -->
          <div class="form-field">
            <input type="text" formControlName="email"  placeholder="Enter Email">
          </div>
          <!-- password -->
          <div class="form-field">
            <input type="password" formControlName="password"  placeholder="Enter Password">
            <a href="#" class="forgot-pass">Forgot Password?</a>
          </div>
          <!-- Login Button -->
          <div class="form-field">
            <button class="login-btn" (click)="loginAction()">
              <span *ngIf="!loading">Login</span>
              <span *ngIf="loading"><app-loading></app-loading></span>
            </button>
          </div>
     </form>
      </div>
   </div>
  </div>
</section>
